/***** Fonts *****/
@font-face {
  font-family: 'Rajdhani-Regular';
  // http://www.fontspace.com/indian-type-foundry/rajdhani
  src: url('../font/Rajdhani-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "AGA-Rasheeq-Regular";
  // http://www.whatfontis.com/AGA-Rasheeq-V2-14JB.font?text=ANTIPMR
  src: url('../font/AGA-Rasheeq-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "OPTIEdgar-Extended";
  // http://www.ffonts.net/OPTIEdgar-Extended.font.download
  src: url('../font/OPTIEdgar-Extended.otf') format('opentype');
}

/***** SASS stuff *****/
$main-content-width: 298px;
@mixin debug {
  border: 1px solid red;
}

/******************************/
.main-content-area {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  text-align: center;
  width: $main-content-width;
  @include debug; 
}

.header-area {
  height: 45px;
  text-align: left;
  @include debug;
}

.wrap-text-anti-pm-area {
  display: inline-block;
    $anti-pm-text-width: 1;
  $anti-pm-text-height: 1.2;
  transform: scale($anti-pm-text-width,
    $anti-pm-text-height);
  -webkit-transform: scale($anti-pm-text-width, 
    $anti-pm-text-height);
  -moz-transform: scale($anti-pm-text-width,
    $anti-pm-text-height);
  -ms-transform: scale($anti-pm-text-width,
    $anti-pm-text-height); // IE 9+
  -o-transform: scale($anti-pm-text-width,
    $anti-pm-text-height);
}
.text-anti-pm {
  display: inline-block;
  font-family: 'OPTIEdgar-Extended';
  font-size: 1.21em;
}

.x-button {
  position: absolute;
  height: 31px;
  top: 17px;
  width: 35px;
}

.dark-gray-content-area {
  margin-bottom: 15px;
  margin-left: 4px;
  margin-right: 4px;
  height: 263px;
  @include debug;
}

.red-orb {
  margin-left: 41px; // approximated this one visually
  margin-top: 28px;
  position: absolute;
  border-radius: 50%;
  height: 196px;
  width: 205px;
  @include debug;
}

.text-remaining-time {
}

.text-countdown-numbers {
  font-family: 'Rajdhani-Regular';
}

.bottom-buttons-area {
  height: 40px;
  @include debug;
}

.my-keys {
  height: 100%;
  margin: 0px 0px;
}

.special-key-1, .special-key-3 { 
  width: 29%;
}

.ok-button {
  width: 42%;
}