/***** Fonts *****/
@font-face {
  font-family: 'Rajdhani-Regular';
  // http://www.fontspace.com/indian-type-foundry/rajdhani
  src: url('../font/Rajdhani-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "AGA-Rasheeq-Regular";
  // http://www.whatfontis.com/AGA-Rasheeq-V2-14JB.font?text=ANTIPMR
  src: url('../font/AGA-Rasheeq-Regular.ttf') format('truetype');
}


/***** SASS stuff *****/
$main-content-width: 298px;
@mixin debug {
  border: 1px solid red;
}

/******************************/
.main-content-area {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  text-align: center;
  width: $main-content-width;
  @include debug; 
}

.header-area {
  height: 45px;
  @include debug;
}

.text-anti-pm {
  font-family: 'AGA-Rasheeq-Regular';
  font-weight: 100;
  display: inline;
}

.x-button {
  height: 31px;
  width: 35px;
}

.dark-gray-content-area {
  margin-bottom: 15px;
  margin-left: 4px;
  margin-right: 4px;
  height: 263px;
  @include debug;
}

.text-remaining-time {
}

.text-countdown-numbers {
  font-family: 'Rajdhani-Regular';
}

.bottom-buttons-area {
  height: 40px;
  @include debug;
}

.my-keys {
  height: 100%;
  margin: 0px 0px;
}

.special-key-1, .special-key-3 { 
  width: 29%;
}

.ok-button {
  width: 42%;
}