/***** Fonts *****/
@font-face {
  font-family: "OPTIEdgar-Extended";
  src: url("../font/OPTIEdgar-Extended.otf") format("opentype"); }

@font-face {
  font-family: "telegrama_render";
  src: url("../font/telegrama_render.otf") format("opentype"); }

@font-face {
  font-family: 'telegramarender';
  src: url("../font/telegrama_render-webfont.eot");
  src: url("../font/telegrama_render-webfont.eot?#iefix") format("embedded-opentype"), url("../font/telegrama_render-webfont.woff2") format("woff2"), url("../font/telegrama_render-webfont.woff") format("woff"), url("../font/telegrama_render-webfont.ttf") format("truetype"), url("../font/telegrama_render-webfont.svg#telegramarender") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "K22_Spotty_Face";
  src: url("../font/K22_Spotty_Face.ttf") format("truetype"); }

@font-face {
  font-family: "larabiefont-free.regular";
  src: url("../font/larabiefont-free.regular.ttf") format("truetype"); }

/***** SASS stuff *****/
/******************************/
/* line 77, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
html {
  height: 100%; }

/* line 80, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
body {
  background-image: linear-gradient(to bottom right, #3A3D3E 0%, #647F87 50%, #3A3D3E 100%);
  color: white; }

/* line 85, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.cell-phone-ear-speaker {
  height: 0px;
  margin: 0 0; }

/* line 90, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.cell-phone-far-edge-wrapper {
  background-image: linear-gradient(to right, #D165AA 0%, #E3A2CC 25%, #D165AA 75%, #D165AA 100%);
  border: 1px solid #D165AA;
  margin-left: auto;
  margin-right: auto; }

/* line 97, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.cell-phone-edge-wrapper {
  border: 2px solid #4d4d4d;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  width: 312px; }

/* line 109, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.dark-raspberry-wrapper {
  background-color: #883456;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  width: 306px; }

/* line 118, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.main-content-area {
  background-color: #494B4B;
  border-top: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-radius: 2.5px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  text-align: center;
  width: 298px; }

/* line 133, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.header-area {
  height: 45px;
  text-align: left; }

/* line 139, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.wrap-text-anti-pm-area {
  display: inline-block;
  transform: scale(1, 1.2);
  -webkit-transform: scale(1, 1.2);
  -moz-transform: scale(1, 1.2);
  -ms-transform: scale(1, 1.2);
  -o-transform: scale(1, 1.2); }

/* line 155, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.text-anti-pm {
  display: inline-block;
  font-family: 'OPTIEdgar-Extended';
  font-size: 1.21em;
  font-weight: 100;
  letter-spacing: .05em; }

/* line 62, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.link-anti-pm, .link-anti-pm:visited, .link-anti-pm:hover, .link-anti-pm:active {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit; }

/* line 167, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.x-button {
  border-radius: 2.5px;
  background-color: #323232;
  padding: 0px;
  /** positioning **/
  position: absolute;
  top: 22px;
  height: 31px;
  width: 35px; }

/* line 179, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.x-button-text {
  display: inline-block;
  /** font stuff **/
  font-family: "K22_Spotty_Face";
  font-size: 1.3em;
  text-align: center;
  transform: scale(1.35, 1.25) translateY(0px);
  -webkit-transform: scale(1.35, 1.25) translateY(0px);
  -moz-transform: scale(1.35, 1.25) translateY(0px);
  -ms-transform: scale(1.35, 1.25) translateY(0px);
  -o-transform: scale(1.35, 1.25) translateY(0px); }

/* line 206, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.dark-gray-content-area {
  background: linear-gradient(to bottom, #2F3430, #1E1C1F);
  border-radius: 2.5px;
  position: relative;
  margin-left: 4px;
  margin-right: 4px;
  height: 263px;
  /** 
  This is bizarre, this area needs
  a border, otherwise the boxes get all 
  messed up
  **/
  border: 1px solid #2F3430; }

/* line 224, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.red-orb {
  background: linear-gradient(to bottom, #1E1D20 65%, #66202C);
  margin-left: 41px;
  margin-top: 28px;
  position: absolute;
  border-radius: 50%;
  height: 196px;
  width: 205px; }

/* line 235, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.text-remaining-time {
  font-size: 2em;
  /** positioning stuff **/
  position: absolute;
  margin: auto;
  top: 52px;
  left: 0px;
  bottom: 0px;
  right: 0px; }

/* line 246, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.countdown-numbers-area {
  margin-top: 75px;
  /** numbers sizing **/
  transform: scale(0.95, 1.1);
  -webkit-transform: scale(0.95, 1.1);
  -moz-transform: scale(0.95, 1.1);
  -ms-transform: scale(0.95, 1.1);
  -o-transform: scale(0.95, 1.1); }

/* line 262, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.text-countdown-numbers {
  font-family: "larabiefont-free.regular";
  font-size: 4.35em;
  letter-spacing: -.065em; }

/* line 268, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.bottom-buttons-area {
  height: 40px;
  width: 298px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  padding-top: 0px; }

/* line 278, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.my-keys {
  border-top: 1px solid #bfbfbf;
  background-color: #241921;
  border-radius: .1px;
  height: 100%;
  margin: 0px 0px;
  vertical-align: middle; }

/* line 287, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.special-key-1, .special-key-3 {
  width: 29%; }

/* line 291, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.special-key-1 {
  border-bottom-left-radius: 5px; }

/* line 295, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.special-key-3 {
  border-bottom-right-radius: 5px; }

/* line 299, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.ok-button {
  width: 42%; }

/* line 303, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.ok-button-text {
  font-family: "telegramarender";
  display: inline-block;
  /** OK letters sizing and position**/
  transform: scale(2, 1.5) translateY(2px);
  -webkit-transform: scale(2, 1.5) translateY(2px);
  -moz-transform: scale(2, 1.5) translateY(2px);
  -ms-transform: scale(2, 1.5) translateY(2px);
  -o-transform: scale(2, 1.5) translateY(2px); }

/* line 327, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.flip-phone-crease {
  background: #4d4d4d;
  border: 0px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  margin-bottom: 58px;
  width: 375px; }

/* line 338, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.full-hinge-area {
  background-image: linear-gradient(to bottom, #D165AA 0%, #E8B2D4 10%, #D165AA 25%, #BC5A99 77.5%, #D165AA 100%);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  margin-top: 55px; }

/* line 344, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.hinge-portion-b-area {
  background-image: linear-gradient(to bottom, #683255 0%, #E8B2D4 5%, #D165AA 55%, #bc5a99 77.5%, #D165AA 100%);
  border-right: solid #683255;
  border-left: solid #683255;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 195px; }

/* line 355, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.hand {
  position: absolute;
  top: 200px;
  right: 15px; }

/***** iphone 4 and 5 only *****/
@media only screen and (min-height: 450px) {
  /* line 363, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .cell-phone-far-edge-wrapper {
    border: 2px solid #4d4d4d;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-top: 27px; }
  /* line 370, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .x-button {
    top: 50px; } }

/******************************/
/***** iphone 6 only *****/
@media only screen and (min-height: 558px) {
  /* line 379, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .cell-phone-ear-speaker {
    height: 50px;
    background-image: linear-gradient(to right, #D165AA 0%, #E3A2CC 25%, #D165AA 75%, #D165AA 100%);
    border: 2px solid #4d4d4d;
    border-bottom: 0px;
    margin-left: auto;
    margin-right: auto; }
  /* line 391, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .x-button {
    top: 102px; } }

/******************************/
@media only screen and (min-width: 700px) {
  /* line 400, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .cell-phone-far-edge-wrapper {
    border: 2px solid #4d4d4d;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-top: 27px;
    width: 375px; }
  /* line 407, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .cell-phone-edge-wrapper {
    border: 2px solid #4d4d4d;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    width: 312px; }
  /* line 418, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .cell-phone-ear-speaker {
    height: 75px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: linear-gradient(to right, #D165AA 0%, #E3A2CC 25%, #D165AA 75%, #D165AA 100%);
    border: 2px solid #4d4d4d;
    border-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 375px; }
  /* line 430, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .cell-phone-speaker-cutout-wrapper {
    text-align: center; }
  /* line 433, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .speaker-cutout {
    border: 1px solid #c53e94;
    display: inline-block;
    height: 15px;
    margin-top: 15px; }
  /* line 439, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .speaker-cutout-left {
    background-image: linear-gradient(to bottom, #383838 0%, #4E4E4E 50%, #4E4E4E 76%, #383838 87%, #4E4E4E 100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 48px; }
  /* line 445, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .speaker-cutout-right {
    background-image: linear-gradient(to bottom, #D165AA 0%, #E3A2CC 50%, #D165AA 100%);
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 84px; }
  /* line 452, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .cell-phone-status-bar {
    background-color: #281A24;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 306px; }
  /* line 461, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .dark-raspberry-wrapper {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
  /* line 465, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .x-button {
    top: 167px; } }

/*# sourceMappingURL=my-styles.css.map */