/***** Fonts *****/
@font-face {
  font-family: "OPTIEdgar-Extended";
  src: url("../font/OPTIEdgar-Extended.otf") format("opentype"); }

@font-face {
  font-family: "telegrama_render";
  src: url("../font/telegrama_render.otf") format("opentype"); }

@font-face {
  font-family: "K22_Spotty_Face";
  src: url("../font/K22_Spotty_Face.ttf") format("truetype"); }

@font-face {
  font-family: "larabiefont-free.regular";
  src: url("../font/larabiefont-free.regular.ttf") format("truetype"); }

/***** SASS stuff *****/
/******************************/
/* line 53, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
body {
  background-color: white;
  color: white; }

/* line 58, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.cell-phone-ear-speaker {
  height: 0px;
  margin: 0 0; }

/* line 63, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.cell-phone-far-edge-wrapper {
  background-color: #D165AA;
  border: 2px solid #4d4d4d;
  margin-left: auto;
  margin-right: auto;
  width: 375px; }

/* line 71, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.cell-phone-edge-wrapper {
  border: 2px solid #4d4d4d;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  width: 312px; }

/* line 83, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.dark-raspberry-wrapper {
  background-color: #883456;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  width: 306px; }

/* line 92, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.main-content-area {
  background-color: #494B4B;
  border-top: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-radius: 2.5px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  text-align: center;
  width: 298px; }

/* line 107, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.header-area {
  height: 45px;
  text-align: left; }

/* line 113, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.wrap-text-anti-pm-area {
  display: inline-block;
  transform: scale(1, 1.2);
  -webkit-transform: scale(1, 1.2);
  -moz-transform: scale(1, 1.2);
  -ms-transform: scale(1, 1.2);
  -o-transform: scale(1, 1.2); }

/* line 129, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.text-anti-pm {
  display: inline-block;
  font-family: 'OPTIEdgar-Extended';
  font-size: 1.21em;
  font-weight: 100;
  letter-spacing: .05em; }

/* line 38, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.link-anti-pm, .link-anti-pm:visited, .link-anti-pm:hover, .link-anti-pm:active {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit; }

/* line 141, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.x-button {
  border-radius: 2.5px;
  background-color: #323232;
  padding: 0px;
  /** positioning **/
  position: absolute;
  top: 22px;
  height: 31px;
  width: 35px; }

/* line 153, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.x-button-text {
  display: inline-block;
  /** font stuff **/
  font-family: "K22_Spotty_Face";
  font-size: 1.3em;
  text-align: center;
  transform: scale(1.35, 1.25) translateY(0px);
  -webkit-transform: scale(1.35, 1.25) translateY(0px);
  -moz-transform: scale(1.35, 1.25) translateY(0px);
  -ms-transform: scale(1.35, 1.25) translateY(0px);
  -o-transform: scale(1.35, 1.25) translateY(0px); }

/* line 181, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.dark-gray-content-area {
  background: linear-gradient(to bottom, #2F3430, #1E1C1F);
  border-radius: 2.5px;
  position: relative;
  margin-left: 4px;
  margin-right: 4px;
  height: 263px;
  /** 
  This is bizarre, this area needs
  a border, otherwise the boxes get all 
  messed up
  **/
  border: 1px solid #2F3430; }

/* line 199, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.red-orb {
  background: linear-gradient(to bottom, #1E1D20 65%, #66202C);
  margin-left: 41px;
  margin-top: 28px;
  position: absolute;
  border-radius: 50%;
  height: 196px;
  width: 205px; }

/* line 210, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.text-remaining-time {
  font-size: 2em;
  /** positioning stuff **/
  position: absolute;
  margin: auto;
  top: 52px;
  left: 0px;
  bottom: 0px;
  right: 0px; }

/* line 221, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.countdown-numbers-area {
  margin-top: 75px;
  /** numbers sizing **/
  transform: scale(0.95, 1.1);
  -webkit-transform: scale(0.95, 1.1);
  -moz-transform: scale(0.95, 1.1);
  -ms-transform: scale(0.95, 1.1);
  -o-transform: scale(0.95, 1.1); }

/* line 237, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.text-countdown-numbers {
  font-family: "larabiefont-free.regular";
  font-size: 4.35em;
  letter-spacing: -.065em; }

/* line 243, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.bottom-buttons-area {
  height: 40px;
  width: 298px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  padding-top: 0px; }

/* line 253, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.my-keys {
  border-top: 1px solid #bfbfbf;
  background-color: #241921;
  border-radius: .1px;
  height: 100%;
  margin: 0px 0px;
  vertical-align: middle; }

/* line 263, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.special-key-1, .special-key-3 {
  width: 29%; }

/* line 267, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.special-key-1 {
  border-bottom-left-radius: 5px; }

/* line 271, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.special-key-3 {
  border-bottom-right-radius: 5px; }

/* line 275, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.ok-button {
  width: 42%; }

/* line 279, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.ok-button-text {
  font-family: "telegrama_render";
  display: inline-block;
  /** OK letters sizing and position**/
  transform: scale(2, 1.5) translateY(2px);
  -webkit-transform: scale(2, 1.5) translateY(2px);
  -moz-transform: scale(2, 1.5) translateY(2px);
  -ms-transform: scale(2, 1.5) translateY(2px);
  -o-transform: scale(2, 1.5) translateY(2px); }

/* line 302, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
.flip-phone-crease {
  background: #4d4d4d;
  border: 0px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  margin-bottom: 58px;
  width: 375px; }

@media only screen and (min-width: 700px) {
  /* line 314, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .cell-phone-ear-speaker {
    height: 75px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #D165AA;
    border: 2px solid #4d4d4d;
    border-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 375px; }
  /* line 326, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .cell-phone-speaker-cutout-wrapper {
    text-align: center; }
  /* line 329, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .speaker-cutout {
    border: 1px solid #4d4d4d;
    display: inline-block;
    height: 15px;
    margin-top: 15px; }
  /* line 335, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .speaker-cutout-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 48px; }
  /* line 340, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .speaker-cutout-right {
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 84px; }
  /* line 346, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .cell-phone-far-edge-wrapper {
    padding-top: 27px; }
  /* line 349, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .cell-phone-status-bar {
    background-color: #281A24;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 306px; }
  /* line 358, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .dark-raspberry-wrapper {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
  /* line 362, /Users/lawrenceabaeo/code/shimoneta-anti-pm-interface/css/my-styles.scss */
  .x-button {
    top: 167px; } }

/*# sourceMappingURL=my-styles.css.map */