/***** Fonts *****/
@font-face {
  font-family: "OPTIEdgar-Extended";
  // http://www.ffonts.net/OPTIEdgar-Extended.font.download
  src: url('../font/OPTIEdgar-Extended.otf') format('opentype');
}

@font-face {
  font-family: "telegrama_render";
  // http://yoworks.com/telegrama/index.html?utm_source=fontsquirrel.com&utm_medium=download_link&utm_campaign=Telegrama
  src: url('../font/telegrama_render.otf') format('opentype');
}

@font-face {
    font-family: 'telegramarender';
    src: url('../font/telegrama_render-webfont.eot');
    src: url('../font/telegrama_render-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/telegrama_render-webfont.woff2') format('woff2'),
         url('../font/telegrama_render-webfont.woff') format('woff'),
         url('../font/telegrama_render-webfont.ttf') format('truetype'),
         url('../font/telegrama_render-webfont.svg#telegramarender') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: "K22_Spotty_Face";
  // http://www.fontspace.com/toto/k22-spotty-face
  // NOTE: the otf that came with this didn't work with Firefox, 
  // so using the ttf instead (which works fine in FF)
  src: url('../font/K22_Spotty_Face.ttf') format('truetype');
}

@font-face {
  font-family: "larabiefont-free.regular";
  // http://www.1001fonts.com/larabiefont-free-font.html
  src: url('../font/larabiefont-free.regular.ttf') format('truetype');
}


/***** SASS stuff *****/
$physical-cell-phone-width: 375px;
$physical-cell-phone-border-color: lighten(black, 30%);
$physical-cell-phone-color: #D165AA;
$overall-content-width: 298px;

@mixin debug {
  border: 1px solid red;
}

@mixin bottom-edge-rounding {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

@mixin cell-phone-bkg {
  background-image: linear-gradient(to right, #D165AA 0%, #E3A2CC 25%, #D165AA 75%, #D165AA 100%);
}

@mixin scut-link-unstyled { // http://codepen.io/lowercase/pen/dBFxm
  &, &:visited, &:hover, &:active {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
  }
}


/******************************/
html {
  height: 100%;
}
body {
  background-image: linear-gradient(to bottom right, #3A3D3E 0%, #647F87 50%, #3A3D3E 100%);
  color: white;
}

.cell-phone-ear-speaker {
  height: 0px;
  margin: 0 0;
}

.cell-phone-far-edge-wrapper {
  @include cell-phone-bkg;
  border: 1px solid $physical-cell-phone-color; // need a border so the inner content can stretch down
  margin-left: auto;
  margin-right: auto;
}

.cell-phone-edge-wrapper {
  border: 2px solid $physical-cell-phone-border-color;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  width: $overall-content-width + 14px;
}

.dark-raspberry-wrapper {
  background-color: #883456;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  width: $overall-content-width + 8px;
}

.main-content-area {
  $main-content-border-color: darken(white, 25%);
  background-color: #494B4B;
  border-top: 1px solid $main-content-border-color;
  border-left: 1px solid $main-content-border-color;
  border-radius: 2.5px;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 6px;
  padding-bottom: 15px;
  text-align: center;
  width: $overall-content-width;
  // @include debug; 
}

.header-area {
  height: 45px;
  text-align: left;
  // @include debug;
}

.wrap-text-anti-pm-area {
  display: inline-block;
  $anti-pm-text-width: 1;
  $anti-pm-text-height: 1.2;
  transform: scale($anti-pm-text-width,
    $anti-pm-text-height);
  -webkit-transform: scale($anti-pm-text-width, 
    $anti-pm-text-height);
  -moz-transform: scale($anti-pm-text-width,
    $anti-pm-text-height);
  -ms-transform: scale($anti-pm-text-width,
    $anti-pm-text-height); // IE 9+
  -o-transform: scale($anti-pm-text-width,
    $anti-pm-text-height);
}

.text-anti-pm {
  display: inline-block;
  font-family: 'OPTIEdgar-Extended';
  font-size: 1.21em;
  font-weight: 100;
  letter-spacing: .05em;
}

.link-anti-pm {
  @include scut-link-unstyled;
}

.x-button {
  border-radius: 2.5px;
  background-color: #323232;
  padding: 0px;
  
  /** positioning **/
  position: absolute;
  top: 22px;
  height: 31px;
  width: 35px;
}

.x-button-text {
  display: inline-block;
  
  /** font stuff **/
  font-family: "K22_Spotty_Face";
  font-size: 1.3em;
  text-align: center;
  $yAxis-for-x-button: 0px;
  $x-button-text-width: 1.35;
  $x-button-text-height: 1.25;
  transform: scale($x-button-text-width,
    $x-button-text-height) 
    translateY($yAxis-for-x-button);
  -webkit-transform: scale($x-button-text-width, 
    $x-button-text-height) 
    translateY($yAxis-for-x-button);
  -moz-transform: scale($x-button-text-width,
    $x-button-text-height) 
    translateY($yAxis-for-x-button);
  -ms-transform: scale($x-button-text-width,
    $x-button-text-height) 
    translateY($yAxis-for-x-button); // IE 9+
  -o-transform: scale($x-button-text-width,
    $x-button-text-height) 
    translateY($yAxis-for-x-button);
}

.dark-gray-content-area {
  $dark-gray-content-color: #2F3430;
  background: linear-gradient(to bottom, $dark-gray-content-color, #1E1C1F);
  border-radius: 2.5px;
  position: relative;
  // margin-bottom: 15px; // whoops this should be for the main area
  margin-left: 4px;
  margin-right: 4px;
  height: 263px;
  // @include debug;
  /** 
  This is bizarre, this area needs
  a border, otherwise the boxes get all 
  messed up
  **/
  border: 1px solid $dark-gray-content-color;
}

.red-orb {
  background: linear-gradient(to bottom, #1E1D20 65%, #66202C);
  margin-left: 41px; // approximated this one visually
  margin-top: 28px;
  position: absolute;
  border-radius: 50%;
  height: 196px;
  width: 205px;
  // @include debug;
}

.text-remaining-time {
  font-size: 2em;
  
  /** positioning stuff **/
  position: absolute;
  // https://teamtreehouse.com/community/centre-align-an-absolute-positioned-element-with-unknown-width
  margin: auto;
  top: 52px; left: 0px; bottom: 0px; right: 0px; 
  // I approximated the 'top' value svisually
}

.countdown-numbers-area{
  margin-top: 75px;
  /** numbers sizing **/
  $countdown-numbers-width: .95;
  $countdown-numbers-height: 1.10;
  transform: scale($countdown-numbers-width,
    $countdown-numbers-height);
  -webkit-transform: scale($countdown-numbers-width, 
    $countdown-numbers-height);
  -moz-transform: scale($countdown-numbers-width,
    $countdown-numbers-height);
  -ms-transform: scale($countdown-numbers-width,
    $countdown-numbers-height); // IE 9+
  -o-transform: scale($countdown-numbers-width,
    $countdown-numbers-height);
}
.text-countdown-numbers {
  font-family: "larabiefont-free.regular";
  font-size: 4.35em;
  letter-spacing: -.065em;
}

.bottom-buttons-area {
  height: 40px;
  width: $overall-content-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  padding-top: 0px;
}

$keys-border-color: darken(white, 25%);
.my-keys {
  border-top: 1px solid $keys-border-color;
  background-color: #241921;
  border-radius: .1px;
  height: 100%;
  margin: 0px 0px;
  vertical-align: middle;
}

.special-key-1, .special-key-3 { 
  width: 29%;
}

.special-key-1 {
  border-bottom-left-radius: 5px;
}

.special-key-3 {
  border-bottom-right-radius: 5px;
}

.ok-button {
  width: 42%;
}

.ok-button-text {
  // font-family: "telegrama_render";
  font-family: "telegramarender";
  // font-weight: 100; // This font isn't affected by weight
  display: inline-block;
  // using font-size pushes the boundaries of the buttons 
  // that are to the left and right, will use transform instead
  
    /** OK letters sizing and position**/
  $yAxis-number: 2px;
  $ok-letters-width: 2;
  $ok-letters-height: 1.50;
  transform: scale($ok-letters-width,
    $ok-letters-height) translateY($yAxis-number);
  -webkit-transform: scale($ok-letters-width, 
    $ok-letters-height) translateY($yAxis-number);
  -moz-transform: scale($ok-letters-width,
    $ok-letters-height) translateY($yAxis-number);
  -ms-transform: scale($ok-letters-width,
    $ok-letters-height) translateY($yAxis-number); // IE 9+
  -o-transform: scale($ok-letters-width,
    $ok-letters-height) translateY($yAxis-number);
}

.flip-phone-crease {
  background: $physical-cell-phone-border-color;
  border: 0px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  margin-bottom: 58px;
  width: $physical-cell-phone-width;
}

.full-hinge-area {
  background-image: linear-gradient(to bottom, #D165AA 0%, #E8B2D4 10%, #D165AA 25%, #BC5A99 77.5%, #D165AA 100%);
  @include bottom-edge-rounding;
  margin-top: 55px;
}

.hinge-portion-b-area {
  // border: 2px solid black;
  background-image: linear-gradient(to bottom, #683255 0%, #E8B2D4 5%, #D165AA 55%, #bc5a99 77.5%, #D165AA 100%);
  border-right: solid #683255;
  border-left: solid #683255;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 195px;
}

.hand {
  position: absolute;
  top: 200px;
  right: 15px;
}

/***** iphone 4 and 5 only *****/
@media only screen and (min-height: 450px) {
  .cell-phone-far-edge-wrapper {
    border: 2px solid $physical-cell-phone-border-color;
    @include bottom-edge-rounding;
    padding-top: 27px;
    // width: $physical-cell-phone-width;
  }
  
  .x-button { // ick, I'm really hating this absolute positioning
    top: 50px;
  }
}
/******************************/


/***** iphone 6 only *****/
@media only screen and (min-height: 558px) {
  .cell-phone-ear-speaker {
    height: 50px;
    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    @include cell-phone-bkg;
    border: 2px solid $physical-cell-phone-border-color;
    border-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    // width: $physical-cell-phone-width;
  }
  
  .x-button { // ick, I'm really hating this absolute positioning
    top: 102px;
  }
}
/******************************/


@media only screen and (min-width: 700px) {
  
  .cell-phone-far-edge-wrapper {
    border: 2px solid $physical-cell-phone-border-color;
    @include bottom-edge-rounding;
    padding-top: 27px;
    width: $physical-cell-phone-width;
  }
  
  .cell-phone-edge-wrapper {
    border: 2px solid $physical-cell-phone-border-color;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    width: $overall-content-width + 14px;
  }
  
  .cell-phone-ear-speaker {
    height: 75px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    @include cell-phone-bkg;
    border: 2px solid $physical-cell-phone-border-color;
    border-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: $physical-cell-phone-width;
  }
  .cell-phone-speaker-cutout-wrapper {
    text-align: center; 
  }
  .speaker-cutout {
    border: 1px solid darken($physical-cell-phone-color, 10%);
    display: inline-block;
    height: 15px;
    margin-top: 15px;
  }
  .speaker-cutout-left {
    background-image: linear-gradient(to bottom, #383838 0%, #4E4E4E 50%, #4E4E4E 76%, #383838 87%, #4E4E4E 100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 48px;
  }
  .speaker-cutout-right {
    background-image: linear-gradient(to bottom, #D165AA 0%, #E3A2CC 50%, #D165AA 100%);
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 84px;
  }  
  .cell-phone-status-bar {
    background-color: #281A24;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    width: $overall-content-width + 8px;
  }
  .dark-raspberry-wrapper {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .x-button {
    top: 167px;
  }
}